* {
  /* font-family: 'Source Sans Pro', sans-serif; */
  color: black;
}

body {
  background: aqua;

}

header nav{
  display: flex;
  justify-content: center;
  background-color: pink;
  font-size: 20px;
  border-radius: 20%;
}

#reeceFish {
  margin-left: 140px;
}

#fourFish {
  margin:auto;
}

h1{
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

h2 {
  font-weight: bold;
  font-size: 1.5em;
}

h3 {
  font-size: 1em;
  font-weight: bold;
  text-decoration: underline;
}

#storeInfo{
  font-size: 1em;
  text-align: center;
  background-color: orange;
  border-radius: 30%;
  margin: 20px;
  padding: 10px;
}

#productSection {
  display: inline-block;
  text-align: center;
  background-color: red;
  margin-left: 25%;
  margin-bottom: 10px;
}

article{
  display: inline-block;
  border: 1px dashed black;
  margin: 10px;
  padding: 10px;
  text-align: justify;
}
#familyPic{
  border-radius: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
  



footer{
  background-color: blueviolet;
  color:white;
  width: auto;
  height: 100%;
  border: solid 1px black;
  text-align: center;
}