body {
  background-color: aqua;
  text-align: center;
}
table {
  border: 1px solid black;
  padding:5px;
  background-color: pink;
  margin: auto;
}
table td {
  border: 1px solid black;
  padding:5px;
}
table th {
  border: 1px solid black;
  padding:5px;
}
form{
padding-top: 10px;
text-align: center;
}

#form-title{
  font-weight: bold;
  font-size: 1em;
}


